#foreach($animal in $animals)
<tr>
    <th scope="row">$animal.getId()</th>
    <td>$animal.getName()</td>
    <td>Null</td>
    <td>$animal.getTYPE()</td>
    <td>Null</td>
</tr>
#end



#foreach($endangeredAnimal in $endangeredAnimals)
<tr>
    <th scope="row">$endangeredAnimal.getId()</th>
    <td>$endangeredAnimal.getName()</td>
    <td>$endangeredAnimal.getHealth()</td>
    <td>$endangeredAnimal.getTYPE()</td>
    <td>$endangeredAnimal.getAge()</td>
</tr>
#end
