<div class="ranger">
<h1> First Name: $ranger.getFirstName() </h1>
<h1> Second Name: $ranger.getSecondName()</h1>
<h1> Badge Number: $ranger.getBadgeNo()</h1>
</div>
<div class="button">
<a href="/sightingForm/new" class="btn btn-secondary button">Add Sighting</a>
<a href="/animalForm/new" class="btn btn-secondary button" >Add Animal</a>
</div>


